<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SMTPLogin" value="dis-task-manager"/>
    <add key="SMTPPassword" value="36447858"/>
    <add key="Port" value="27015"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>