<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="QueueNotifyName" value="q_notify"/>
    <add key="QueueReportName" value="q_report"/>
    <add key="MQUserName" value="guest" />
    <add key="MQPassword" value="guest" />
    <add key="MQVirtualHost" value="/" />
    <add key="MQHostName" value="localhost" />
    <add key="MQPort" value="5672" />
    <add key="NotifyServiceHost" value="localhost"/>
    <add key="ReportServiceHost" value="localhost"/>
    <add key="NotifyServicePort" value="27015"/>
    <add key="ReportServicePort" value="27025"/>
    <add key="NotifyServiceKey" value="task-id"/>
    <add key="ReportServiceKey" value="project-id"/>
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>