<div>
    <header ng-controller="MenuController">
        <h1 id="logo">
            LOGO
        </h1>
        <nav>
            <a ng-href="#">Home</a>
            <a ng-href="#projects">Projects</a>
            <a ng-href="#tasks">tasks</a>
            <a>SIGN UP</a>
        </nav>
    </header>
    <div>
        <ng-view></ng-view>
    </div>
</div>